extends layouts/layout

block title
    +title("Önéletrajz")


block menu
    +menu("Önéletrajz")

block content
    .ui.segment
        .ui.items
            //- .item
            p: a(href="cv.pdf") Önéletrajz letöltése
            p: a(href="cv_kepes.pdf") Képes önéletrajz letöltése
            
            h1 Önéletrajz
            .image.small.ui.rounded 
                img(src="images/prof.jpg", alt="")
                //- .content
                    a.header(href="#") Szabó Martin
                    .description
                        p Az Eötvös Loránd Tudományegyetem Informatika karának hallgatója vagyok, programtervező informatikus szakon.
                    .meta
                        i.github.icon
                        a(target="_blank" href="https://github.com/szaffo") github.com/szaffo
                    .meta
                        i.envelope.icon
                        span martin77szabo@gmail.com
                    .meta
                        i.envelope.icon
                        span cqbo0i@inf.elte.hu
                    .meta
                        i.envelope.icon
                        span szaffo@szabomartin.com
                    .meta
                        i.phone.icon
                        span 06-20/269-22-99
                    //- .extra  
                        p additional