extends layout

block title
    +title("Főoldal")

block content
    .ui.segment
        .ui.items
            .item
                .image 
                    img(src="images/prof.jpg", alt="alt")
                .content
                    a.header(href="#") Szabó Martin
                    .description
                        p Eötvös Loránd Tudományegyetem Informatika karának hallgatója
                    .meta
                        i.github.icon
                        a(target="_blank" href="https://github.com/szaffo") github.com/szaffo
                    .meta
                        i.envelope.icon
                        span cqbo0i@inf.elte.hu
                    .meta
                        i.envelope.icon
                        span szaffo@szabomartin.com
                    .meta
                        i.phone.icon
                        span 06-20/269-22-99
                    //- .extra  
                        p additional