extends layout

block title
    +title('Linkek')


block menu
    +menu("Linkek")

block content

    .ui.segment
        .ui.very.relaxed.divided.list
            .item
                i.large.file.middle.aligned.icon
                .content
                    a.header(href="adatb.html") Adatb helper
                    .description 2020.05.25.
            .item
                i.large.file.middle.aligned.icon
                .content
                    a.header(href="/stratego") Startego demo
                    .description 2020.05.25.
