extends layouts/layout

block title
    +title('Linkek')


block menu
    +menu("Linkek")

block content

    .ui.segment
        .ui.very.relaxed.divided.list
            .item
                i.large.file.middle.aligned.icon
                .content
                    a.header(href="szaHelper.html") SZA helper
                    .description 2020.05.31.
            .item
                i.large.file.middle.aligned.icon
                .content
                    a.header(href="backendHelper.html") Backend helper
                    .description 2020.05.29.
            .item
                i.large.file.middle.aligned.icon
                .content
                    a.header(href="adatb.html") Adatb helper
                    .description 2020.05.25.
            .item
                i.gamepad.middle.aligned.icon.large
                .content
                    a.header(href="/stratego") Startego demo
                    .description 2020.05.25.
            .item
                i.npm.middle.aligned.icon.large
                .content
                    a.header(href="https://www.npmjs.com/package/markdown-to-pug-cli") Markdown to Pug CLI
                    .description 2020.05.27.
