mixin title($page)
    title Szabó Martin - #{$page}

mixin menu(selected)
    - const menuData = [{"text": "Főoldal", "link": "index.html"},{"text": "Projektek", "link": "projects.html"}, {"text": "Linkek", "link": "links.html"}, {"text": "Önéletrajz", "link": "cv.html"}]

    each menu in menuData
        if selected == menu.text
            a.item.active(href=menu.link) #{menu.text}
        else
            a.item(href=menu.link) #{menu.text}

mixin bread(page)
    .ui.breadcrumb
        a.section(href="/projects.html") Projektek
        i.right.angle.icon.divider
        div.section.active #{page}

mixin label(icon, text)
    div.ui.label.small
        i.icon(class=`${icon}`)
        span #{text}

html(lang="hu")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        meta(name="author" content="Szabó Martin")
        meta(name="description" content="Szabó Martin vagyok, az Eötvös Loránd Tudományegyetem Informatika Karának hallgatója.")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://www.szabomartin.com/")
        meta(property="og:title" content="Szabó Martin")
        meta(property="og:image" content="https://www.szabomartin.com/images/prof.jpg")
        meta(property="og:description" content="Szabó Martin vagyok, az Eötvös Loránd Tudományegyetem Informatika Karának hallgatója.")
        meta(property="og:determiner" content="")
        meta(property="og:site_name" content="Szabó Martin")
        meta(property="og:site_name" content="Szabó Martin")
        meta(name="twitter:title" content="Szabó Martin vagyok, az Eötvös Loránd Tudományegyetem Informatika Karának hallgatója.")
        meta(name="twitter:image" content="https://www.szabomartin.com/images/prof.jpg")
        meta(name="twitter:description" content="Szabó Martin vagyok, az Eötvös Loránd Tudományegyetem Informatika Karának hallgatója.")


        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.css")
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/main.css", attr)

        script(data-ad-client="ca-pub-6479576155314675" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

        //- highlight.js css
        link(rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/styles/monokai.min.css")
        //- highlight.js code
        script(src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/highlight.min.js")
        //- highlight.js trigger
        script hljs.initHighlightingOnLoad()

        block title

    body

        .main-col
            div(style="display:none;")
                h1 Szabó Martin oldala
            .ui.secondary.pointing.menu
                block menu
                    +menu("")   
           
            block content
               

       
        script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.js")
        script(src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js")

        script.
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
                apiKey: "AIzaSyBBvE7wDgqQFIKyTmG1PJsOYOEgQE_Qh6c",
                authDomain: "szaffo77.firebaseapp.com",
                databaseURL: "https://szaffo77.firebaseio.com",
                projectId: "szaffo77",
                storageBucket: "szaffo77.appspot.com",
                messagingSenderId: "926601241232",
                appId: "1:926601241232:web:87951ac8228524389b2e15",
                measurementId: "G-W60Z8KZM4C"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();